*, *:after, *:before {
    box-sizing: border-box;
  }
  
  html {
    // prevent text size adjust after orientation change, without disabling user zoom
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  body{
    font-family: 'Overlock', sans-serif;
    background:$background;
  }
  
  h1{
    font-size: 2.15em;
    font-weight: 700;
    color: $glacier;
    margin: 20px 0 10px;
  }
  
  h2{
    font-size: 1.5em;
    font-weight: 700;
    margin: 5px 0 8px;
  }
  
  h3{
    font-size: 1.5em;
    font-weight: 700;
    color: $glacier;;
    margin: 10px 0 5px;
  }
  
  h4{
    font-size: 1.25em;
    font-weight: 700;
    margin: 8px 0 4px;
  }

  select{
    font-family: 'Overlock';
    @media screen and (max-device-width:380px){
      font-size: 3rem;
    }
    @media screen and (min-device-width:380px) and (max-device-width:480px){
      font-size: 2.5rem;
    }
    @media screen and (min-device-width:480px) and (max-device-width:580px){
      font-size: 2rem;
    }
    @media screen and (min-device-width:580px) and (max-device-width:880px){
      font-size: 1.5rem;
    }
  }
  
  .media-block{
    background:$white;
    border-radius: 10px;
    text-align: left;
    padding:10px;
    width:95%; 
    margin:1vw 0;    
  }
  