//---------colors---------
//theme color
$glacier: #85bdbf;

//diagram colors

$diagram_sand: #e3cabf;
$diagram_blue: #9ad2e2;
$diagram_green: #c6d8cf;
$diagram_orange: #eab669;
$diagram_pink: #f7c1c0;
$diagram_purple: #c7cbe7;
$diagram_grey: #c4c4c4;
$progressbar_blue: #b8d4d5;

//other
$background: #dfedee;
$white: #ffffff;
