.main__child2__categories {
  &__h3 {
    font-size: 1.15rem;
  }
  &__labels {
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 0.85rem;
  }

  &__js-progressbar--back {
    width: 100%;
    height: 2vh;
    background: $progressbar_blue;
    margin: 1vh auto;
  }
  &__js-progressbar--front {
    height: 2vh;
    background: $diagram_grey;

    -webkit-transition: width 0.2s; /* Safari */
    transition: width 0.2s;

    //for text:
    display: flex;
    justify-content: center;
  }
}

.main__child2__categories__article__ul {
  list-style-type: none;
  width: 100%;
  margin: auto;
  padding: 0;

  &__li {
    display: flex;
    justify-content: space-between;
    margin: 0.4rem auto;

    &__div {
      display: flex;
      flex-direction: column;
      height: 5vh;
      justify-content: space-between;
      margin-top: 1vh;
      
    }
    &__label {
      font-size: 0.85rem;
      margin-bottom:5px;
    }

    &__p--first {
      margin-right: 0.2rem;
      flex: 1;
      display: flex;

      &:after {
        content: '';
        border-bottom: dotted 3px black;
        flex: 1;
      }
    }

    &__p--last {
      text-align: right;
      flex: 0 0 1rem;
    }
  }
}

.js-deletecategory{
  margin-top:23px;
}