.main {
  /*Footer down*/
  min-height: calc(111.5vh - 215.1333px);

  /*Grid for defferent devices*/
  @media screen and (max-width: 760px) {
    display: block;
    @at-root #{&}__child1 {
      width: 95vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
    }
    @at-root #{&}__child2 {
      margin-top: 30px;
      @at-root #{&}__section {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }
    }
    @at-root #{&}__child3 {
      margin-top: 30px;
      @at-root #{&}__section {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }
    }
  }

  @media screen and (min-width: 760px) and (max-width: 1079px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    @at-root #{&}__child1 {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      justify-self: center;
    }
    @at-root #{&}__child2 {
      grid-row: 2 / 3;
      justify-self: start;
      padding-left: 10px;
      padding-right: 10px;
      @at-root #{&}__section {
        min-width: 45vw;
        margin-right: auto;
      }
    }
    @at-root #{&}__child3 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-self: end;
      padding-left: 10px;
      padding-right: 10px;
      @at-root #{&}__section {
        min-width: 45vw;
        margin-left: auto;
      }
    }
  }

  @media screen and (min-width: 1080px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    @at-root #{&}__child1 {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
      justify-self: center;
    }
    @at-root #{&}__child2 {
      grid-column: 4 /5;
      grid-row: 1 / 2;
      justify-self: start;
      padding-right: 10px;
      @at-root #{&}__section {
        min-width: 23vw;
        margin-right: auto;
      }
    }
    @at-root #{&}__child3 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-self: end;
      padding-left: 10px;
      @at-root #{&}__section {
        min-width: 23vw;
        margin-left: auto;
      }
    }
  }
}
